.Contact-main {
  width: 50%;
  margin: 20px;
  padding: 1 0px;
  border-width: 1px;
  border-color: #a37f5c;
  border-radius: 10px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact-main p {
  font-size: 2em;
  margin: 20px 20px 0px 20px;
}

.Contact-form {
  width: 90%;
  margin: 20px;
  padding: 30px;
  border-width: 1px;
  border-color: #a37f5c;
  border-radius: 10px;
  border-style: solid;
}

textarea.form-control {
  height: 20em;
  resize: none;
}

@media(max-width: 800px) {
  .Contact-main {
    width: 100%;
  }
}