.Contact-main {
  width: 40%;
  margin: 10px 0;
  border-width: 1px;
  border-color: #a37f5c;
  border-radius: 10px;
  border-style: solid;
  padding: 30px;
  margin: 20px;
}

textarea.form-control {
  height: 20em;
  resize: none;
}

@media(max-width: 800px) {
  .Contact-main {
    width: 80%;
  }
}