* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.Home-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  background-color: #282c33;
  color: #ffffff;
}

.Home-header text {
  float: left;
  font-size: 32px;
}

.Home-header-links {
  float: right;
}

.Home-body {
  margin-top: 60px;
  background-color: #ffffff;
  color: #282c33;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home-footer {
  position:absolute;
  bottom:0;
  width:100%;
  padding: 5px;
  background-color: #282c33;
  color: #ffffff;
  font-size: 20px;
}