* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.Home-header {
  background-color: #282c33;
  flex:1;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Home-body {
  background-color: #ffffff;
  flex: 15;
  color: #282c33;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Home-footer {
  background-color: #282c33;
  color: #ffffff;
  font-size: 20px;
}