.Projects {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ProjectsCategory {
  border: 1px solid #a37f5c;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.LoadingSymbol {
  padding: 10px;
  height: 20vw;
  width: 20vw;
}

@media(max-width: 800px) {
  .Projects {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .ProjectsCategory {
    width: 100%;
  }
}