.Projects {
  display: flex;
  width: 80vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.ProjectsCategory {
  min-width: 30vw;
  max-width: 30vw;
  border: 1px solid #a37f5c;
  border-radius: 10px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.LoadingSymbol {
  padding: 10px;
  height: 20vw;
  width: 20vw;
}

@media(max-width: 800px) {
  .Projects {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .ProjectsCategory {
    min-width: 80vw;
    max-width: 80vw;
  }
}