.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-default {
  background-image: none;
  padding: 5px;
  background-color: #282c33;
  color: #ffffff;
  margin-bottom: 0;
  border-radius: 0;
  border-color: transparent;
  border-bottom: #a37f5c solid 4px;
}

.navbar-default .navbar-header {
  display: flex;
  justify-content: center;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:link,
.navbar-default .navbar-brand:visited {
  color: #f3c765;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active  {
  color: #a37f5c;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
  color: #a37f5c;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:visited {
  background-image: none;
  background-color: #282c33;
  color: #f3c765;
}

.navbar-default .navbar-nav>.active>a:link {
  background-image: none;
  background-color: #282c33;
  color: #f3c765;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:active {
  background-image: none;
  background-color: #282c33;
  color: #f3c765;
}

.Home-body {
  flex:1;
  overflow: auto;
  background-color: #ffffff;
  color: #282c33;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.Home-footer {
  padding: 5px;
  background-color: #282c33;
  color: #f3c765;
}

/*
#212121 // Ebony Clay
#e5e6ea // Mercury
#828592 // Olso Gray
*/